.inputpostcomments {
  display: flex;
  justify-content: space-around;
  padding: 5px 3px;
}

.inputpostcomments-left img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  object-fit: cover;
  padding: 2px;
}

.inputpostcomments-input {
  outline: none;
  background-color: #b16eed;
  margin: 0rem 5px;
  padding: 0 2px;
  height: 45px;
}

.inputpostcomments-button {
  background-color: #240046;
  color: #FF6D00;
  font-weight: 800;
  width: 100px;
  height: 50px;
  padding: 3px;
  border-radius: 25px;
}
.inputpostcomments-button:hover {
  background-color: #FF6D00;
  color: #240046;}

.postCommentCard {
  background-color: none;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  border: 2px solid #240046;
  position: relative;
}
.postCommentCarduser {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2px;
}
.postCommentCardfullname {
  font-size: 1rem;
  color: black;
  font-weight: 700;
  letter-spacing: 1.5px;
}
.postCommentCardcommentcontent-content {
  font-weight: 500;
  color: #240046;
}
.postCommentCardtime {
  font-size: 10px;
  color: black;
  font-weight: 300;
}
.postCommentCardavatar {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 10px;
}
.postCommentCarduserinfo {
  display: flex;
}

.postCommentCardcommentcontent {
  padding: 10px 5px;
  border-top: 1px solid #240046;
}
.postCommentCardavatarcommentcontent-likes {
  display: flex;
  margin-top: 10px;
}
.postCommentCardavatarcommentcontent-reply {
  margin-left: 15px;
}
.postCommentCardavatarcommentcontent-likescount {
  margin-right: 5px;
}
.commentMenuitemlist {
  position: absolute;
  background-color: #FF9E00;
  margin-top:.5rem;
  padding:15px;
  border-radius:10px;
  color: #240046;
  transform: translateX(-30px);
  z-index: 9;
}
.commentMenuitemedit {
  font-size:1rem;
  padding: 6px;
  font-weight: 900;
  letter-spacing: 3px;
  color:#401368;
}
.commentMenuitemdelete {
  font-size:1rem;
  padding: 6px;
  font-weight: 900;
  letter-spacing: 3px;
  color:#401368;
}

.commentMenuitemdelete:hover, .commentMenuitemedit:hover{
  color: black;
}
.postCommentCardLikeButton {
  position: absolute;
  transform: translate(350px, -140px);
}
