/* Estilo de la página - Home */

/* -------------- Responsive Escritorio ---------------- */

@media (min-width: 1199.98px) {
  .homemain-contentmid {
    display: grid;
    place-content: center;
    margin-left: -13rem;
  }
}

@media (min-width: 991.98px) and (max-width: 1199.98px) and (orientation: landscape) {
  .homemain-contentmid {
    display: grid;
    place-content: center;
    margin-left: 1rem;
  }
  .homemain-contentleft {
    margin-left: -4rem;
  }
}

/* -------------- Responsive Movil ---------------- */

@media (min-width: 576px) and (max-width: 991.98px) and (orientation: landscape) {
  .homemain-contentmid {
    display: grid;
    place-content: center;
    margin-left: 6rem;
  }
}
