.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20vh auto;
  height: 60vh;
  width: 60vw;
  max-width: 100%;

}

.login-small{
  padding: .5rem;
}

.login-container{
  background-color: var(--bg-color);
  padding: 3rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login-header{
  font-size: 2rem;
  text-align: center;
  color:var(--text-color);
}

.login-subheader{
  font-size: 1.4rem;
  text-align: center;
  color:var(--text-color);
  text-transform : uppercase;
}



.login-dataform{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.data-formemail{
  padding: .3rem;
  padding-left: 1rem;
  margin: 1rem 0;
  height: 1.5rem;
  width: 90%;
  border-radius: 3px;
  outline: none;
  border: none;
  border-radius: 30px;
  background-color: #FF9E00;

}

.login-dataformpass{
  padding: .3rem;
  padding-left: 1rem;
  margin: 1rem 0;
  height: 1.5rem;
  width: 90%;
  border-radius: 3px;
  outline: none;
  border: none;
  border-radius: 30px;
  background-color: #FF9E00;
  position:relative;
}

.login-showpass{
  position: fixed;
  top:50.5%;
  left:54.7%;
  color:#240046;
  padding:3px;
  border-radius:10px;
  vertical-align: middle;
  cursor:pointer;
}

.login-dataformbtn{
  padding: .3rem;
  width: 50%;
  font-weight: 600;
  border:3px solid var(--border-color);
  background-color: transparent;
  border-radius: 30px;
  outline: none;
 margin:1rem auto;
 cursor:pointer;
}

.register-btn{
  color:#FF9E00;
  font-weight: 600;
}