.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20vh auto;
  height: 60vh;
  width: 60wv;
  max-width: 100%;

}

.login-container{
  background-color: var(--bg-color);
  padding: 3rem;
  border-radius: 10px;

}

.login-header{
  font-size: 2rem;
  text-align: center;
  
}

.login-subheader{
  font-size: 1.4rem;
  text-align: center;
  color:var(--text-color);
  text-transform : uppercase;
 
}



.login-dataform{

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.data-formemail{
padding: .3rem;
margin: 1rem 0;
border-radius: 3px;
outline: none;
height: 1.5rem;
width: 100%;
border:2px solid var(--border-color);
color:var(--text-color);
}

.login-dataformpass{
  padding: .3rem;
  margin: 1rem 0;
  height: 1.5rem;
  width: 100%;
  border-radius: 3px;
  outline: none;
  border:2px solid var(--border-color);
  color: var(--text-color)
}

.login-dataformbtn{
  padding: .3rem;
  width: 100%;
  border:2px solid var(--border-color);
  background-color: var(--bg-color);
  border-radius: 3px;
  outline: none;
 margin:1rem 0;
}