/* Estilo de la pagina - NotFound */

/* ------- Contenedor general --------- */

.notfound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 8%;
}

.notfound-content {
  background-color: #eedaff;
  border: 3px solid #240046;
  border-radius: 25px;
  height: 33rem;
}

.notfound-icon {
  padding-top: 0.6rem;
  padding-right: 1rem;
}

/* ------- Contenido --------- */

.notfound-top {
  background-color: #401368;
  color: #ff9e00;
  border-radius: 20px 20px 0px 0px;
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: end;
}
.notfound-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notfound-img {
  width: 35%;
  border-radius: 120px;
}

.notfound-text {
  color: #240046;
  font-size: 2.5rem;
  font-weight: 500;
  padding: 2rem;
}

/* ------- Botón --------- */

.notfound-link {
  cursor: pointer;
  font-weight: 700;
  background-color: #ff9e00;
  color: #240046;
  border: 2px solid #240046;
  border-radius: 50px;
  padding: 1rem;
  margin: 0.25rem;
  margin-top: 1.5rem;
}

.notfound-link:hover {
  background-color: #240046;
  color: #ff9e00;
}
