.profileabout{
    background-color: #EEDAFF;
    min-height: 400px;
    border: 2px solid #240046;
    width: 16rem;
    box-shadow: #240046 5px 5px;
    border-radius: 20px;
}

.profileabout-container{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}
.profileabout-contenttop-head{
    font-size:1.5rem;
    font-weight: 700;
    padding:0.5rem 1rem;
}

.profileabout-contenttop{
    padding:0.5rem rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #401368;
    color: #FF9E00;
    border-radius: 16px 16px 0px 0px;
}
.profileabout-contentcenter-story{
    padding:.5rem;
    font-size:18px;
    border-bottom: 1px solid #873CC7;

}
.profileabout-contentbottom{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    padding:1rem 0;
    background-color: #EEDAFF;
}

.profileabout-contentbottominfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0.3rem 0;
}

.profileabout-contentbottominfo-head{
font-size:medium;
font-weight: 600;
color:#240046;
}

.profileabout-contentbottominfo-body{
align-self: flex-end;
font-size: small;
font-weight: 400;
}

.closebtn:not(:active) {
    opacity: 1;
   }
   
   .closebtn:active {
     opacity: 0;
   }