.profilebody{
    width: 100%;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.profileheader{
    height: fit-content;
    width:40%;
    margin: 1rem auto;
    padding: 0.2rem;
    background-color: #EEDAFF;
    margin-top: 2rem;
    border: 2px solid #240046;
    border-radius: 20px;
    box-shadow: #240046 5px 5px;
}
.profileheader-items{
    display: flex;
    justify-content: space-evenly;
}

.profileheader-items .MuiSvgIcon-root{
    color:#240046;
}
.profilebody-left{
    display: grid;
    place-items: center;
}
.profilebody-center{
    display: grid;
    place-items: center;
}

