.profilebody{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    max-width:100%;
    margin:auto;
}

.profileheader{
    height: fit-content;
    width:700px;
    max-width:100%;
    margin: 1rem auto;
    padding: 0.2rem;
    background-color: #EEDAFF;
    margin-top: 2rem;
    border: 2px solid #240046;
    border-radius: 20px;
    box-shadow: #240046 5px 5px;
}
.profileheader-items{
    display: flex;
    justify-content: space-evenly;
}

.profileheader-items .MuiSvgIcon-root{
    color:#240046;
}
.profilebody-left{
    flex:0.1;
}
.profilebody-center{
    flex:0.6;
}
.profilebody-right{
    flex:0.1;
}