.profileabout{
    background-color: #EEDAFF;
    padding:1.5rem;
    border-radius: 30px;
    min-height: 400px;
    width: 15rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}

.profileabout-container{
    display: flex;
    flex-direction: column;
    
}
.profileabout-contenttop-head{
    padding:1rem .3rem;
    font-size:1.5rem;
    font-weight: 700;
   border-bottom: 1px solid #873CC7;
    
}
.profileabout-contentcenter-story{
    padding:.5rem;
    font-size:18px;
    border-bottom: 1px solid #873CC7;

}
.profileabout-contentbottom{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    padding:1rem 0;
}

.profileabout-contentbottominfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0.3rem 0;
}

.profileabout-contentbottominfo-head{
font-size:medium;
font-weight: 600;
color:#240046;
}

.profileabout-contentbottominfo-body{
align-self: flex-end;
font-size: small;
font-weight: 400;
}