.status{
    background-color: #EEDAFF;
    border: 2px solid #240046;
    border-radius: 20px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    box-shadow: #240046 5px 5px;
}

.status-header{
    background-color: #401368;
    color:#FF9E00;
    border-radius: 16px 16px 0px 0px;
}

.editstatus{
    position: fixed;
    top:10rem;
    left:42.5rem;
    background-color:#ffb949 ;
    border: 2px solid #240046;
    z-index:5;
    border-radius:10px;
    padding:.5rem 1rem;
}

.status-imagesdiv{
    max-height: 150px;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
    margin:5px;
}
.status-middleimages{
    
    max-width:90px;
    
    
}
.status-middlestreamstop{
    position:absolute;
    top:-4%;
    left:2%;
    opacity:0;
    color:crimson;
    
    font-size: 20px;
    padding:1px;
   font-weight: bolder;
   vertical-align: middle;
   transform: translateY(-5px);
   cursor: pointer;
}
.status-stream{
    position: relative;

}
.status-stream:hover span{
    opacity:1;
}
img.status-middleimages,
video.status-middleimages{
 width:90%;
 height:90%;
 object-fit:cover;
 padding:5px;
 margin:5px;
 border:2px solid #240046;
 border-radius:4px;


}
.status-middleimagecontainer{
    position:relative;
    margin:10px;
}
.status-middleimagedelete{
    overflow: hidden; 
    position:absolute;
    top:-5%;
    left:-2%;
    opacity: 0;;
    color:#ffb949;
    background-color: #240046;
    border-radius: 50px;
    font-size: 20px;
   font-weight: bolder;
   vertical-align: middle;
   cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}

.status-middleimagecontainer:hover span{
    opacity: 1;;
}
.status-header{
    height: 50px;
    display: flex;
    padding:.3rem 1rem;
}

.status-header img{
    height:40px;
    width: 40px;
    border-radius: 50%;
}
.status-middle{
    width:500px;
    padding:.5rem;
    position: relative;
    
}
.status-header h4{
    padding:0 .5rem;
    font-size: 1.5rem;
    font-weight: 400;
    
}
.status-middle textarea{
    background-color:#b16eed;
    border:none;
    border-radius: 10px;
    padding: .6rem;
    outline:none;
    resize: none;
    width:96%;
    height:125px;
    font-size:1.2rem;
    font-weight: 400;
    
}
.status-middle small{
    position: absolute;
    bottom:10%;
    right:6%;
}
.status-footer{
    display: flex;
    justify-content: space-between;
    padding:.5rem 1rem
}
.status-footerleft button{
  
    height: 30px;
    margin:0 .5rem;
    width:80px;
    border-radius: 3px;;
}
.status-footerleftdiscard{
    background-color: #240046;
    border:none;
    color:#FF9E00;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s ease-in;
    
}
.status-footerright .MuiSvgIcon-root{
    padding:0 1rem;
}
.status-footerleftcreate{
    background-color: #FF9E00;
    cursor: pointer;
    border: none;
    color:#240046;
    font-weight: 600;
    transition: transform 0.3s ease-in;

}
.status-footerleftcreate:hover{
    background-color: #240046;
    color:#FF9E00;
}

.status-footerleftdiscard:hover{
    background-color: #FF9E00;
    color:#240046;
}


@media only screen and (max-width: 768px) {
    .status{
        width: 93vw;
    }

    .status-middle textarea{
        width: 80vw;
        position: relative;
    }

    .status-middle small{
        display: none;
    }
  }